@use '@/styles/_variables.scss' as *;

.section {
	width: 100%;
	height: 100dvh;
	background: $secondary;
	padding: 30px 20px 36px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.header__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.title {
	font-weight: 500;
	font-size: 48px;
	line-height: 100%;
}

.subtitle {
	line-height: 110%;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 12px;
	position: relative;
	z-index: 2;
}

.floor {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}
