@font-face {
	font-family: 'FactorA';
	src:
		local('FactorA'),
		url('../assets/fonts/FactorA-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Spoof';
	src:
		local('Spoof'),
		url('../assets/fonts/Spoof-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
