@use '@/styles/_variables.scss' as *;
@use '@/styles/fonts.scss' as *;

body {
	font-family: $fontFamilySpoof;
	background: $secondary;
	color: $white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

button {
	font-family: $fontFamilySpoof;
}
