@use '@/utils/styles/_variables.scss' as *;

.main {
	min-height: 100svh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.floor {
	width: 100%;
	height: 30vh;
	background: $secondary;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}
