@use '@/styles/_variables.scss' as *;

.gameInfo {
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
	z-index: 1;
	padding: 36px 20px;
	width: 100%;
	height: 112px;
}

.left {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 1;
	height: 100%;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.count {
	font-size: 16px;
	font-weight: 500;
	display: flex;
	align-items: flex-end;
	gap: 2px;
	font-family: $fontFamilyfactorA;
	color: $white-50;
	line-height: 100%;
}

.current {
	color: $white;
	font-size: 24px;
	line-height: 22px;
}

.subtitle {
	font-size: 14px;
	color: $white-50;
}

.hint {
	flex-grow: 1;
	flex-shrink: 0;
}
