.cardContainer {
	width: 293px;
	height: 514px;
	position: relative;
	overflow: hidden;

	box-sizing: border-box;
	padding: 32px 35px;

	border-radius: 15px;
	box-shadow: 0px 2px 8px 0px #03031a11;

	background: #678ef5;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&_default {
		padding: 32px 35px;
	}

	&_wishList {
		padding: 36px;
	}

	&_stopList {
		padding: 30px;
	}
}
