@use '@/styles/_variables.scss' as *;

.section {
	padding: 30px 20px 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	text-align: center;
	background: $secondary;
	min-height: 100dvh;
	width: 100vw;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.title {
	font-size: 48px;
	font-weight: 500;
	line-height: 100%;
}

.subtitle {
	white-space-collapse: break-spaces;
	letter-spacing: 0.2px;
	font-weight: 500;
	line-height: 110%;
	font-family: $fontFamilyfactorA;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 100%;
}
