@use '@/styles/_variables.scss' as *;

.card {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 157 / 284;
	border-radius: 18px;
	overflow: hidden;
	box-shadow: 0px 0px 84.92px 0px #89b3ff73;
}

.image {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
}
